/*
custom css van ties
*/
body {
  background-color: rgb(238, 238, 238);
}

div.RoMain {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: #eee;
  border-color: #eee;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-form input, .form-inline input {
	width:auto;
}

header {
	height:280px;
    background-color:#eee;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.mainText {
  text-align: center;
}

.navbar1 {
  background-color: #eee;
  border-color: #eee;
  padding-left: 0px;
  padding-right: 0px;
}
